* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

html, body {
    height: 100%;
    overflow: hidden;
}

/* body style */
body {
    margin: 0;
    padding: 0;
    font-weight: 400;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 1rem;
    line-height: 1.8;
    color: black;
    background-color: beige;
    height: 100%;
    overflow: auto;
    overflow-y: scroll;
}

/* to clear message after submitting */
.clearmessage:after {
    display: block;
    content: "";
    clear: both;
}

/* to hide display */
.hidden {
    display: none;
}

/* form control style*/
.form-control {
    width: 100%;
    min-height: 3rem;
    font-size: 1rem;
    border: 1px solid olivedrab;
}

/* form group style*/
.form-group {
    margin-bottom: 1rem;
}

/* user input field style*/
input {
    padding-left: 1rem;
    outline: none;
}

/* heading style*/
h1, h2, h3 ,h4, h5, h6 {
    margin-top: 1rem;
    margin-bottom: 1rem;
}

h1{
    font-size: 2rem;
}

a {
    color: blue;
}

/* button style*/
button {
    box-shadow: none;
    border: 1px solid transparent;
    font-size: 1rem;
    outline: none;
    line-height: 100%;
    white-space: nowrap;
    vertical-align: middle;
    padding: 1rem 1rem;
    border-radius: 2px;
    transition: all 0.2s ease-in-out;
    cursor: pointer;
    min-height: 3rem;
}

button.default {
    background-color: aquamarine;
    color: white;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.12);
}

button.primary {
    background-color: aquamarine;
    color: black;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.12);
}

button.logout {
    background-color: coral;
    color: black;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.12);
}

button.accent {
    background-color: aqua;
    color: black;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.12);
}

/* username page style */
#username-page {
    text-align: center;
}

.username-page-container {
    background: beige;
    box-shadow: 0 1px 11px rgba(0, 0 , 0, 0.27);
    border-radius: 2px;
    width: 100%;
    max-width: 500px;
    display: inline-block;
    margin-top: 3rem;
    vertical-align: middle;
    position: relative;
    padding: 2rem 3rem 2rem;
    min-height: 320px;
    position: absolute;
    top: 50%;
    left: 0;
    right: 0;
    margin: 0 auto;
    margin-top: -160px;
}

.username-page-container .username-submit {
    margin-top: 1rem;
}

/* chat page style */
#chat-page {
    position: relative;
    height: 100%;
}

.chat-container {
    max-width: 800px;
    margin-left: auto;
    margin-right: auto;
    background-color: beige;
    box-shadow: 0 1px 11px rgba(0, 0, 0, 0.27);
    margin-top: 2rem;
    height: calc(100% - 100px);
    max-height: 600px;
    position: relative;
}

#chat-page ul {
    list-style-type: none;
    background-color: beige;
    margin: 0;
    overflow: auto;
    overflow-y: scroll;
    padding: 0 1rem 0 1rem;
    height: calc(100% - 160px);
}

#chat-page #messageForm {
    padding: 1rem;
}

#chat-page ul li {
    line-height: 1.5rem;
    padding: 1rem 1rem;
    margin: 0;
    border-bottom: 1px solid black;
}

#chat-page ul li p {
    margin: 0;
}

#chat-page .event-message {
    width: 100%;
    text-align: center;
    clear: both;
}

#chat-page .event-message p {
    color: aqua;
    font-size: 1rem;
    word-wrap: break-word;
}

#chat-page .chat-message {
    padding-left: 5rem;
    position: relative;
}

#chat-page .chat-message i {
    position: absolute;
    width: 3rem;
    height: 3rem;
    overflow: hidden;
    left: 10px;
    display: inline-block;
    vertical-align: middle;
    font-size: 1rem;
    line-height: 3rem;
    color: beige;
    text-align: center;
    border-radius: 50%;
    font-style: normal;
    text-transform: uppercase;
}

#chat-page .chat-message span {
    color: black;
    font-weight: 600;
}

#chat-page .chat-message p {
    color: grey;
}

/* Message form style */
#messageForm .input-group input {
    float: left;
    width: calc(100% - 100px);
}

#messageForm .input-group button {
    float: left;
    width: 5rem;
    height: 3rem;
    margin-left: 5px;
}

/* Chat styles */
.chat-header {
    text-align: center;
    padding: 1rem;
    border-bottom: 1px solid beige;
}

.chat-header h2 {
    margin: 0;
    font-weight: 500;
}

/* Connecting style */
.connecting {
    padding-top: 5px;
    text-align: center;
    color: blue;
    position: absolute;
    top: 4rem;
    width: 100%;
}

/* Controlled by media width size */

@media screen and (max-width: 720px) {
    .chat-container {
        margin: 10px;
    }
}

@media screen and (max-width: 480px) {
    .chat-container {
        height: calc(100%- 30px);
    }

    .username-page-container {
        width: auto;
        margin-left: 1rem;
        margin-right: 1rem;
        padding: 2rem;
    }

    #chat-page ul {
        height: calc(100% - 120px);
    }

    #messageForm .input-group button {
        width: 65px;
    }

    #messageForm .input-group input {
        width: calc(100% - 70px);
    }

    .chat-header {
        padding: 10px;
    }

    .connecting {
        top: 60px;
    }

    .chat-header h2 {
        font-size: 1.1rem;
    }
}


